[submodule "lab1"]
	path = lab1
	url = git@github.com:temttae/eecs388-lab1.git
[submodule "p1-cryptography"]
	path = p1-cryptography
	url = git@github.com:temttae/eecs388-p1-cryptography.git
[submodule "lab2"]
	path = lab2
	url = git@github.com:temttae/eecs388-lab2.git
[submodule "p2-web"]
	path = p2-web
	url = git@github.com:temttae/eecs388-p2-web.git
[submodule "lab3"]
	path = lab3
	url = git@github.com:temttae/eecs388-lab3.git
