[submodule "lab1"]
	path = lab1
	url = git@github.com:temttae/eecs388-lab1.git
[submodule "p1-cryptography"]
	path = p1-cryptography
	url = git@github.com:temttae/eecs388-p1-cryptography.git
[submodule "lab2"]
	path = lab2
	url = git@github.com:temttae/eecs388-lab2.git
[submodule "p2-web"]
	path = p2-web
	url = git@github.com:temttae/eecs388-p2-web.git
[submodule "lab3"]
	path = lab3
	url = git@github.com:temttae/eecs388-lab3.git
[submodule "p3-networking"]
	path = p3-networking
	url = git@github.com:temttae/eecs388-p3-networking.git
[submodule "lab4"]
	path = lab4
	url = git@github.com:temttae/eecs388-lab4.git
[submodule "p4-application-security"]
	path = p4-application-security
	url = git@github.com:temttae/eecs388-p4-application-security.git
[submodule "lab5"]
	path = lab5
	url = git@github.com:temttae/eecs388-lab5.git
